@media only screen and (max-width:800px) {
    .header {
        top: 0%;
        padding: 15px 25px;
        flex-direction: column;
        position: relative;
    }
    .navbar-toogle {
        display: flex !important;
        z-index: 0;
        align-items: center;
        flex-direction: initial;
        cursor: pointer;
        position: absolute;
        padding: 10px;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .logo {
        margin: 0px;
    }
    #logo-zunder {
        width: 20%;
        height: auto;
        padding-top: 10px;
    }
    .nav-bar {
        background-color: #ececec;
        flex-direction: column;
    }
    .left-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .nav-bar-sub, .nav-bar-sub-aboutus {
        margin: 10px;
    }
    .dropdown-content {
        padding: 20px 0px;
        width: max-content;
    }
    .dropdown-content-sub a {
        width: max-content;
    }
    .register-button {
        position: absolute;
        padding-left: 55%;
        padding-top: 3.2%;
    }
    .button a {
        padding-top: 15%;
        font-size: 5vw;
    }
    #viewbox-navbar-toogle {
        width: 6%;
        height: auto;
        padding-top: 1%;
    }
    .nav-bar-sub-aboutus {
        min-width: 100px;
        height: 10px;
    }
    #drop-arrow {
        width: 6px;
        height: auto;
        padding-left: 2px;
    }
    .dropdown-content {
        width: 100px;
    }
    /* END HEADER */
    .header_bg {
        width: 100%;
        height: 200px;
        top: 0%;
    }
    .header_text {
        font-size: 32px;
    }
    .header2 {
        margin-top: 10%;
        background-size: 1000px;
        /* padding-top: 4%; */
        /* background-position:inherit;
        background-repeat: no-repeat; */
    }
    .content {
        flex-direction: column;
    }
    .findus_content {
        flex-direction: column;
    }
    .branch {
        flex-direction: column;
        margin-bottom: -20%;
    }
    .contact_type {
        width: 400px;
        height: auto;
        margin-bottom: 50px;
    }
    .findus_text {
        object-fit: contain;
    }
    .findus_text h3 {
        font-size: 16px;
    }
    .findus_txt_hq, .findus_txt_num {
        font-size: 14px;
    }
    .findus_img img {
        width: 100%;
        object-fit: cover;
    }
    .findus_img {
        overflow: hidden;
    }
    .detail {
        margin-bottom: 150px;
    }
    .logo_icon img {
        width: 10%;
        height: auto;
    }
    .logo_desc {
        font-size: 16px;
    }
    .button {
        margin-bottom: 10px;
    }
    .findus_header {
        font-size: 25px;
    }
    .image_detail img, .image_detail {
        width: 400px;
        height: auto;
        text-align: center;
        align-items: center;
    }
}