@media only screen and (max-width:800px) {
    /* START HEADER */
    .header {
        /* font-size: 2vw; */
        padding: 15px 25px;
        flex-direction: column;
        position: relative;
    }
    .navbar-toogle {
        display: flex !important;
        z-index: 0;
        align-items: center;
        flex-direction: initial;
        cursor: pointer;
        position: absolute;
        padding: 10px;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .logo {
        margin: 0px;
    }
    #logo-zunder {
        width: 20%;
        height: auto;
        padding-top: 10px;
    }
    .nav-bar {
        background-color: #ececec;
        flex-direction: column;
    }
    .left-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .nav-bar-sub, .nav-bar-sub-aboutus {
        margin: 10px;
    }
    .dropdown-content {
        padding: 20px 0px;
        width: max-content;
    }
    .dropdown-content-sub a {
        width: max-content;
    }
    .register-button {
        position: absolute;
        padding-left: 55%;
        padding-top: 3.2%;
    }
    .button a {
        padding-top: 15%;
        font-size: 5vw;
    }
    #viewbox-navbar-toogle {
        width: 6%;
        height: auto;
        padding-top: 1%;
    }
    .nav-bar-sub-aboutus {
        min-width: 100px;
        height: 10px;
    }
    #drop-arrow {
        width: 6px;
        height: auto;
        padding-left: 2px;
    }
    .dropdown-content {
        width: 100px;
    }
    /* END HEADER */
    .slideshow-container {
        padding-top: 0%;
    }
    .slideshow-container img {
        width: 100%;
        height: auto;
    }
    .prev, .next, .prev:hover, .next:hover {
        top: 0%;
    }
    .product-items {
        flex-direction: column;
        padding: 20px 140px;
        align-items: center;
    }
    .product-item-list-image {
        width: 225px;
        height: 150px;
    }
    .product-item-list-image img {
        object-fit: cover;
    }
    .product-item-list {
        padding: 10px;
    }
    .product-item-title {
        font-size:  16px;
    }
    .why-us {
        padding-top: 5%;
    }
    .why-us-contents {
        flex-direction: column;
        align-items: center;
        padding: 0%;
        /* margin-bottom: ; */
    }
    .content-1 {
        padding: 0px;
        width: 300px;
    }
    .why-us-content-image img {
        width: 100px;
        height: 75px;
    }
    .products-title{
        font-size: 25px;
    }
    .sub-title{
        font-size: 14px;
    }
    .why-us-title{
        font-size: 25px;
    }
    .why-us-content-desc1{
        margin-bottom: 45px;
    }

    .why-us-content-title{
        font-size: 22px;
    }

}